<div class="container">

  <%= render :partial => "searches/form"%>

  <hr/>
 
  <div class="row">
    <div class="span16">
      <p><%= link_to 'New venue', new_venue_path %></p>
    </div>
  </div>
</div>
 




