
.font_xs {
	font-size: x-small
}

.lead {
  font-size: 20px;
  line-height: 27px;
}

.right-bordered-div {
  border-right: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bordered-div {
  border: 1px solid #ddd;
  padding: 5px;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


/* Jumbotrons from Twitter Bootstrap
-------------------------------------------------- */
.jumbotron {
  min-width: 940px;
}
.jumbotron .inner {
  background: transparent url(../assets/grid-18px.png) top center;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
/*          box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/}
.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.jumbotron h1 {
  font-size: 33px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron .lead {
  font-size: 20px;
  line-height: 27px;
}
.jumbotron p a {
  color: #fff;
  font-weight: bold;
}

/* Specific jumbotrons
------------------------- */
/* welcome page */

.masthead {
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
}

input[type=image], input[type=image]:hover {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.topbar input, .topbar input:hover {
  color: #333333;
  color: rgba(51, 51, 51, 1);
 }

.topbar-inner, .topbar .fill {
  background-color: #FFCC66;
  background-color: #FFCC66;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFCC65), to(#FFCC66));
  background-image: -moz-linear-gradient(top, #FFCC65, #FFCC66);
  background-image: -ms-linear-gradient(top, #FFCC65, #FFCC66);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFCC65), color-stop(100%, #FFCC66));
  background-image: -webkit-linear-gradient(top, #FFCC65, #FFCC66);
  background-image: -o-linear-gradient(top, #FFCC65, #FFCC66);
  background-image: linear-gradient(top, #FFCC65, #FFCC66);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCC66', endColorstr='#FFCC65', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar a {
  color: #0f0f0f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar h3 a, .topbar .brand {
  color: #0f0f0f;
}

.topbar h3 a:hover, .topbar .brand:hover,.topbar .brand a:hover, .topbar ul .active > a {
  color: #333333;
  text-decoration: none;
}

.topbar p a:hover {
  color: #333333;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #333333;
}



.twipsy {
  z-index: 100000;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}


tr.odd td { 
  background: #e6f2ff;
}


.input-tiny,
input.tiny,
textarea.tiny,
select.tiny {
  width: 40px;
}

body {
  font-size: 12px;
  line-height: 15px;
}
p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 4px;
}
p small {
  font-size: 11px;
}
textarea {
  font-size: 12px;
}
label {
  padding-top: 4px;
  font-size: 12px;
  line-height: 15px;
}
table {
  font-size: 12px;
}
table th, table td {
  padding: 5px 5px 4px;
  line-height: 15px;
  text-align: center;
}

span {
  font-size: 9px;
}

footer {
  background-color: #FFCC66;
}

.search {
  background-color: #FFCC66;
}

.centered {
  text-align: center;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.card {
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.card .close {
  margin-top: 1px;
  *margin-top: 0;
}
.card a {
  font-weight: bold;
  color: #404040;
}
.card.danger p a,
.card.error p a,
.card.success p a,
.card.info p a {
  color: #ffffff;
}
.card h5 {
  line-height: 18px;
}
.card p {
  margin-bottom: 0;
}
.card div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}
.card .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
