<div class="container">
<br/>
	<div class="row">
		<div class="span8 right-bordered-div">
			<h2>Organize an activity</h2>
			<br/>
			<%= render 'form' %>

		</div>
		<div class="span1">
  	  &nbsp
		</div>
		<div class="span5">
			<br/><br/><br/><br/>
    	<%= image_tag("golf_ball_on_green.jpg") %>
	  </div>
	</div>

<%= link_to 'Back', activities_path %>
</div>